:root {
  --color-white: #f3f3f3;
  --color-grey: #efefef;
  --color-primary: #1e2b58;
  --color-secondary: #070070;
  --color-tertiary: #48459a;
  --color-grey-text: #989898;
  --color-gradient-start: #2d2359;
  --color-gradient-end: #353283;
  --color-bubble-red: #bf0000;
  --color-bubble-green: #2a9e00;
  --color-bubble-yellow: #e0e400;
  --color-bubble-orange: #d67900;

  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-grey);
}

#root {
  min-height: 100vh;
}

p {
  margin: 0;
}

.bubble-red {
  background: var(--color-bubble-red);
}
.bubble-green {
  background: var(--color-bubble-green);
}
.bubble-yellow {
  background: var(--color-bubble-yellow);
}
.bubble-orange {
  background: var(--color-bubble-orange);
}
